[submodule "plutovg"]
	path = plutovg
	url = https://github.com/tktkku/plutovg.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/tktkku/zlib.git
[submodule "ippd"]
	path = ippd
	url = https://github.com/tktkku/ippd.git
[submodule "libusb-cmake"]
	path = libusb-cmake
	url = https://github.com/libusb/libusb-cmake.git
[submodule "c-vector"]
	path = c-vector
	url = https://github.com/tktkku/c-vector.git
[submodule "cmap-resources"]
	path = cmap-resources
	url = https://github.com/adobe-type-tools/cmap-resources.git
