[submodule "plutovg"]
	path = plutovg
	url = https://github.com/tktkku/plutovg.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/tktkku/zlib.git
[submodule "c-vector"]
	path = c-vector
	url = https://github.com/tktkku/c-vector.git
[submodule "freetype"]
	path = freetype
	url = https://github.com/tktkku/freetype.git
