[submodule "zlib"]
	path = zlib
	url = https://github.com/tktkku/zlib.git
[submodule "c-vector"]
	path = c-vector
	url = https://github.com/tktkku/c-vector.git
[submodule "cmap-resources"]
	path = cmap-resources
	url = https://github.com/adobe-type-tools/cmap-resources.git
[submodule "plutovg"]
	path = plutovg
	url = https://github.com/sammycage/plutovg.git
[submodule "mapping-resources-pdf"]
	path = mapping-resources-pdf
	url = http://github.com/adobe-type-tools/mapping-resources-pdf
[submodule "agl-aglfn"]
	path = agl-aglfn
	url = https://github.com/adobe-type-tools/agl-aglfn.git
